asgiref==3.6.0
autobahn==23.1.2
channels==3.0.5
daphne==3.0.2
Django==3.2
django-debug-toolbar==3.2.4
django-filter==21.1
django-templated-mail==1.1.1
django-tz-detect==0.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
drf-spectacular==0.26.2
executing==1.2.0
Jinja2==3.1.2
Markdown==3.4.1
Pillow==9.4.0
Pygments==2.14.0
pytest==6.2.4
pytest-django==4.4.0
requests==2.27.0
simplejson==3.19.1
sorl-thumbnail==12.7.0
sqlparse==0.4.3
urllib3==1.26.14
