{% load static %}

<nav class="navbar navbar-expand-md navbar-light"
     style="background-color: lightskyblue">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'posts:main' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30"
           class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span>tube
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% with request.resolver_match.view_name as view_name %}
        <ul class="navbar-nav">
          {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:post_create' %} active
                {% endif %}" href="{% url 'posts:post_create' %}">Новая запись
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'chat:chats_list' %} active
                {% endif %}" href="{% url 'chat:chats_list' %}">Чат
              </a>
            </li>

          {% else %}

            <li class="nav-item">
              <a class="nav-link link-light
                  {% if view_name == 'users:login' %} active {% endif %}"
                    href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light
                {% if view_name == 'users:signup' %} active {% endif %}"
                  href="{% url 'users:signup' %}">Регистрация</a>
            </li>

          {% endif %}

          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:tech' %} active
              {% endif %}" href="{% url 'about:tech' %}">Технологии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:author' %} active
              {% endif %}" href="{% url 'about:author' %}">Об авторе</a>
          </li>

          {% if user.is_authenticated %}
                        <li class="nav-item">
              <a class="nav-link link-light
                {% if view_name == 'users:password_change' %} active
                  {% endif %}" href="{% url 'users:password_change' %}">
                Изменить пароль
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="{% url 'users:logout' %}">
                Выйти
              </a>
            </li>
            <span style="padding-top:.5rem">Пользователь:
              {{ user.username }}
            </span>

          {% endif %}

        </ul>
      {% endwith %}
    </div>
  </div>
</nav>