{% extends 'base.html' %}

{% load tz %}
{% load user_templatetags %}

{% block title %}Чат {{group.title}}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">{{ group }}</div>
          <div class="card-body overflow-auto" style="height: 400px;" id="chat-messages">
            {% update_var messages.0.date_added|timezone:time_zone|date:"d" as day_of_message %}
              {% for message in messages %}
                {% if message.date_added|timezone:time_zone|date:"d" != day_of_message %}
                  {% update_var message.date_added|timezone:time_zone|date:"d" as day_of_message %}
                  <hr style="margin-bottom: 0cm;"><p style="text-align: center; margin-bottom: 0cm;">
                    {{ message.date_added|timezone:time_zone|date:"D/M/Y" }}
                  </p><hr style="margin-top: 0cm;">
                {% endif %}
                <p class="card-text"><span>{{ message.date_added|timezone:time_zone|date:"H:i" }}
                  <u>{{ message.user }}:</u> </span>
                  {{ message.text|linebreaksbr|safe }} </p>
              {% empty %}
                <p class="card-text">Сообщений нет</p>
              {% endfor %}
          </div>
        </div>
        <form>
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Сообщение:</label>
            <textarea autofocus class="form-control" aria-label="textarea"
                      style="height: 80px;" id="chat-message-input">
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="chat-message-submit">
            Отправить
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ group.slug|json_script:"json-groupname" }}
  {{ request.user.username|json_script:"json-username" }}
  {{ time_zone|json_script:"json-timezone" }}
  {{ time_zone|json_script:"json-timezone" }}

  <script>
      const groupName = JSON.parse(document.getElementById('json-groupname').textContent);
      const userName = JSON.parse(document.getElementById('json-username').textContent);
      const timeZone = JSON.parse(document.getElementById('json-timezone').textContent);

      const chatSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/chat/'
          + groupName
          + '/'
      );

      chatSocket.onmessage = function(e) {
          console.log('onmessage')

          const data = JSON.parse(e.data);
          var time = new Date();
          var options = {hour: "2-digit", minute: "2-digit", timeZone: timeZone}
          const now = time.toLocaleTimeString('it-IT', options)
          if (data.message) {
              let html = '<p class="card-text"><span>'
                  + now + ' ' + '<u>'
                  + data.username
                  + ':</u> </span>';
                  html += data.message + '</p>';

              document.querySelector('#chat-messages').innerHTML += html;

              scrollToBottom();
          }
          else {
              alert('The message was empty!');
          }
      }

      chatSocket.onclose = function(e) {
          console.log('onclose')
      }

      //

      document.querySelector('#chat-message-submit').onclick = function(e) {
          e.preventDefault()

          console.log('submit')

          const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;

          chatSocket.send(JSON.stringify({
              'message': message,
              'username': userName,
              'group': groupName,

          }));

          messageInputDom.value = '';

          return false;
      }

      //

      function scrollToBottom() {
          const objDiv = document.querySelector('#chat-messages');
          objDiv.scrollTop = objDiv.scrollHeight;
      }

      scrollToBottom();
  </script>
{% endblock %}