{% extends "base.html" %}

{% load user_filters %}

{% block title %}Информация о пользователе{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Информация о пользователе:
            <b>{{ request.user.username }}</b>
          </div>
          <div class="card-body">
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
            <form method="post" action="{% url 'users:set_user_info' %}">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group row my-3">
                  {{  field.error }}
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  </label>
                  {{ field|addclass:'form-control' }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <div style="text-align: center">
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}